__pycache__
.env
materials

all-tested-results
BSRGAN/model_zoo
BSRGAN/testsets

arbitrary_scale_blind_SR/checkpoints

DASR/experiment

DAN/checkpoints

MANet/experiments

Real-ESRGAN/weights
Real-ESRGAN/experiments/pretrained_models

KOALAnet
KOALAnet_tfv2/pretrained
KOALAnet_tfv2/ckpt

DCLS-SR/codes/config/DCLS/pretrained

CMOS/experiments
CMOS/tb_logger
CMOS/results

FKP
metakernelgan
KAIR